<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title><%=title %></title>
</head>
<body>

   
    <%- include('partials/header')%>
   
    <section class="auth-section">
        <div class="auth-box">
      
          <h2>My Profile</h2>
      
          <div class="profile-info">
            <p><strong>Name:</strong> <%= user.name %></p>
            <p><strong>Email:</strong> <%= user.email %></p>
          </div>
          
          <h3>Update Profile</h3>
          
          <form action="/update-profile" method="POST">
            <input type="text" name="name" value="<%= user.name %>" required>
          
            <input type="password" name="password" placeholder="New Password">
          
            <button type="submit" class="btn-primary1">
              Update Profile
            </button>
          </form>
          
          <form action="/delete-account" method="POST">
            <button class="btn-danger">
              Delete Account
            </button>
          </form>
        </div>
      </section>
   
    <%- include('partials/footer')%>
 
    
   
</body>
</html>